<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8"> <!--pannello informativo riguardante il salvataggio dati-->
      <!--viene visualizzato solo in caso di una qualsiasi modifica ai form-->
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
    <!--informazioni generiche legate allo user + foto-->

  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <!--recupera l'url della foto dello user che ha loggato e la visualizza
        se non ha caricato nessuna foto, viene visualizzata la foto di default-->
        <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last active:</strong>
            <p>{{user.lastActive | relativeTime}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <!--settaggio della visualizzazione della data tramite pipes-->
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <!--disabilitato se non é stata effettuata alcuna modifica al form-->
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
      </div>
    </div>
    <!--tutte le foto e la descrizione dello user, messaggi, interessi-->
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <!--il pannello "information" verrà mostrato solo se avviene una modifica (form diventa dirty)-->
            <!--trucchetto: settando l'id qui, posso riutilizzarlo anche nel bottone sopra anche se non compreso nel form-->
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea name="introduction" rows="6" class="form-control" 
              [(ngModel)]="user.introduction"></textarea>
              <h4>Looking for</h4>
              <textarea name="lookingFor" rows="6" class="form-control" 
              [(ngModel)]="user.lookingFor"></textarea>
              <h4>Interests</h4>
              <textarea name="interests" rows="6" class="form-control" 
              [(ngModel)]="user.interests"></textarea>
              <h4>Location Details:</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" [(ngModel)]="user.city">
                <label for="city">Country</label>
                <input type="text" name="country" class="form-control" [(ngModel)]="user.country">
              </div>
            </form>         
          </tab>
          <tab heading="Edit Photos">
            <!--viene richiamato l'evento hce permette di settare la nuova foto come main
            getMemberPhotoChange é l'output della foto emessa in photo-editor.component.ts-->
            <app-photo-editor [photos]="user.photos" 
            (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

